<div class="container d-flex justify-content-center">
  <% @user = current_user %>
  <%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Update your profile", class: "btn btn-custom my-3" %>
  <% end %>
</div>
