<div class="container my-5 w-100 bg-white mt-0">
  <div class="row">
    <div class="column mt-4">
      <br>
      <%= image_tag(@user.photo, width: "200px") %>
      <h2 class="mt-5"><strong><%= @user.name %></strong></h2>
      <p><%= @user.description %>
      </p>
      <% if @user == current_user %>
        <div class="d-flex justify-content-between mt-4">
          <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-custom" %>
          <%= link_to "My Dashboard", dashboard_path(current_user), class: "btn btn-custom" %>
        </div>
        <hr>
        <p class="d-flex justify-content-center my-4 fs-3 text-custom"><strong>Your upcoming classes!</strong></p>
        <div class="d-flex justify-content-between">
          <p class="mb-2 fs-6 text-custom" style="padding-left:4px;"><strong>Classes I'm Teaching:</strong></p>
          <a href="#past-events" class="d-flex justify-content-end align-items-end fw-bold me-2 mb-2" style="font-size: smaller"> <span class="border border-custom p-1">Past Events</span></a>
        </div>
        <%= render "shared/event_card_iteration", events: @events.where("start_date >= ?", Date.today) %>
        <p class="mb-2 mt-5 fs-6 text-custom" style="padding-left:4px;"><strong>Classes I'm Attending:</strong></p>
        <% if @bookings.any? %>
          <%= render "shared/event_card_my_iteration", bookings: @bookings %>
        <% else %>
          <span>No classes booked!</span>
        <% end %>
        <p class="d-flex justify-content-center mt-3 fs-3 text-custom" id="past-events"><strong>Past Events</strong></p>
        <%= render "shared/event_card_iteration", events: @events.where("start_date < ?", Date.today) %>
      <% else %>
        <hr>
        <p class="d-flex justify-content-center my-4 fs-3 text-custom""><strong><%= @user.name %>'s upcoming classes!</strong></p>
        <a href="#past-events" class="d-flex justify-content-end align-items-end fw-bold me-2" style="font-size: smaller"> <span class="border border-custom p-1">Past Events</span></a>
        <%= render "shared/event_card_iteration", events: @events.where("start_date >= ?", Date.today) %>
        <p class="d-flex justify-content-center mt-3 fs-3 text-custom" id="past-events"><strong>Past Events</strong></p>
        <%= render "shared/event_card_iteration", events: @events.where("start_date < ?", Date.today) %>
      <% end %>
      <br>
    </div>
  </div>
</div>
