<div class="container my-5 w-100 bg-white">
  <div class="row">
    <div class="column mt-2">
      <%= image_tag(@user.photo, width: "200px") %>
      <hr>
      <h2 class="mt-4"><strong><%= @user.name %></strong></h2>
      <p><%= @user.description %>
      </p>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-custom" %>
        <hr>
        <span>My booked classes</span>
        <% if @bookings.any? %>
          <%= render "shared/event_card_my_iteration", bookings: @bookings %>
        <% else %>
          <span>No classes booked!</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
