<% if user_signed_in? %>
  <nav class="pl-nav pl-bottom-nav">
    <section class="pl-nav-content">
      <ul>
        <li class="pl-nav-item">
          <%= link_to "/" do %>
            <%= inline_svg "diversity.svg", class: "pl-icon" %>
            <p>All Events</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to new_event_path do %>
            <%= inline_svg "square-plus-regular.svg", class: "pl-icon" %>
            <p>New Event</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to search_path do %>
            <%= inline_svg "magnifying-glass-solid.svg", class: "pl-icon" %>
            <p>Search</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to dashboard_path(current_user), class: "pl-avatar-frame" do %>
            <%# <%= image_tag "profilepic.jpg", class: "pl-avatar" %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, class: "pl-avatar") %>
            <% else %>
              <%= image_tag "profilepic.jpg", class: "pl-avatar" %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
<% end %>
