<div class="card-product m-1 mb-2">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row justify-content-between p-2">
      <div class="d-flex flex-column">
        <h2><%= event.title %></h2>
        <p class="justify-content-end date-text"><%= event.start_date.strftime("%B %d, %Y") %></p>
      </div>
      <!-- NEW Conditional for EVENT FULL or BOOKABLE -->
      <div class="d-flex flex-column text-end">
        <p class="text-custom d-flex justify-content-end"><strong><%= event.location.address %></strong></p>
        <% if event.capacity - event.bookings.count <= 0 %>
          <p class="opacity-50 attendee-number text-danger"><strong>EVENT FULL!</strong></p>
        <% else %>
          <p class="opacity-50 attendee-number text-end text-danger">Spots left: <%= event.capacity - event.bookings.count %></p>
        <% end %>
      </div>
      <!-- END of NEW Conditional for EVENT FULL or BOOKABLE -->
    </div>
    <div class="card-product-info-grid mb-2">
      <div>
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key %>
        <% else %>
          <%= image_tag "sexy_lady.jpg" %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= event.description %></p>
        <!-- Conditional Buttons inside the card -->
        <!-- This first if only shows Buttons if it's the show page -->
        <% if @event %>
          <div class="d-flex justify-content-end align-items-center">
            <% if @event.user != current_user %> <!-- Only show button if current_user is not the event creator -->
              <% if @event.bookings.map {|b| b.user_id }.include?(current_user.id) %>
                <button type="button" style="font-size: small" class="btn btn-success ml-2 mb-0 mr-0">
                  <strong>Attending!</strong>
                </button>
              <% elsif event.capacity - event.bookings.count <= 0 %>
                <button type="button" style="font-size: small" class="btn btn-custom ml-2 mb-0 mr-0" data-bs-toggle="modal" data-bs-target="#waitinglistModal">
                  Join Wait List
                </button>
              <% else %>
                <button type="button" style="font-size: small" class="btn btn-custom ml-2 mb-0 mr-0" data-bs-toggle="modal" data-bs-target="#bookingModal">
                  Book this Class
                </button>
              <% end %>
            <% end %> <!-- End of check for event creator -->
          </div>
        <% end %>
      </div>
      <!-- END of Conditional Buttons inside the card -->
      <!-- Link to show page (this links to the specific event) -->
      <% if @events %>
        <%= link_to "", event_path(event), class: "card-link" %>
      <% end %>
    </div>
  </div>
</div>
