<div class="card-product">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row justify-content-between p-2">
      <h2><%= event.title %></h2>
      <p class="text-custom"><strong><%= event.location.address %></strong></p>
    </div>
    <div class="card-product-info-grid">
      <div>
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key %>
        <% else %>
          <%= image_tag "sexy_lady.jpg" %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= event.description %></p>
        <p><%= event.start_date %></p>
        <p class="opacity-25 attendee-number text-end">Attendees: <%= event.bookings.count %></p>
      </div>
    </div>
  </div>
  <%# this links to the specific@event %>
  <%= link_to "", event_path(event), class: "card-link" %>
</div>
