<% unless event.user == current_user && controller_name == 'users' %>
  <div class="card-product m-1 mb-3">
    <div class="d-flex flex-column justify-content-between">
      <div class="d-flex flex-row justify-content-between p-2">
        <div class="d-flex flex-column">
          <h2><%= event.title %></h2>
          <p class="justify-content-end date-text"><%= event.start_date.strftime("%B %d, %Y") %></p>
        </div>
        <!-- NEW Conditional for EVENT FULL or BOOKABLE -->
        <div class="d-flex flex-column text-end">
          <p class="text-custom d-flex justify-content-end"><strong><%= event.location.address %></strong></p>
          <% if event.capacity - event.bookings.count <= 0 %>
            <p class="opacity-50 attendee-number text-danger"><strong>EVENT FULL!</strong></p>
          <% else %>
            <p class="opacity-50 attendee-number text-end text-danger">Spots left: <%= event.capacity - event.bookings.count %></p>
          <% end %>
        </div>
        <!-- END of NEW Conditional for EVENT FULL or BOOKABLE -->
      </div>
      <div class="card-product-info-grid mb-2">
        <div>
          <% if event.photos.attached? %>
            <%= cl_image_tag event.photos.first.key %>
          <% else %>
            <%= image_tag "sexy_lady.jpg" %>
          <% end %>
        </div>
        <div class="card-product-infos">
          <p><%= event.description %></p>
          <!-- Conditional Buttons inside the card -->
          <!-- This first if only shows Buttons if it's the show page -->
          <% if @event %>
            <div class="d-flex justify-content-end align-items-center">
              <% if @event.user != current_user %> <!-- Only show button if current_user is not the event creator -->
                <% if @event.bookings.map {|b| b.user_id }.include?(current_user.id) %>
                  <button type="button" style="font-size: small" class="btn btn-light-purple ml-2 mb-0 mr-0">
                    <strong>Attending!</strong>
                  </button>
                <% elsif event.capacity - event.bookings.count <= 0 %>
                  <button type="button" style="font-size: small" class="btn btn-custom ml-2 mb-0 mr-0" data-bs-toggle="modal" data-bs-target="#waitinglistModal">
                    Join Wait List
                  </button>
                <% else %>
                  <button type="button" style="font-size: small" class="btn btn-custom ml-2 mb-0 mr-0" data-bs-toggle="modal" data-bs-target="#bookingModal">
                    Book this Class
                  </button>
                <% end %>
              <% end %> <!-- End of check for event creator -->
            </div>
          <% end %>
        </div>
        <!-- END of Conditional Buttons inside the card -->
        <!-- Link to show page (this links to the specific event) -->
        <% if @events %>
          <%= link_to "", event_path(event), class: "card-link" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="card-product m-1 mb-3 p-2">
    <div class="d-flex flex-column justify-content-between h-100">
      <div class="d-flex justify-content-between">
        <p class="fs-5 fw-bold"><%= event.title.upcase %></h2>
        <div class="d-flex gap-2">
          <i class="fa-regular fa-copy"></i>
          <% if event.capacity - event.bookings.count <= 0 %>
            <p class="attendee-number text-dark fs-6"><strong><%= event.capacity %>/<%= event.capacity %></strong></p>
          <% else %>
            <p class="attendee-number text-dark fs-6"><%= event.capacity - event.bookings.count %>/<%= event.capacity %></p>
          <% end %>
        </div>
      </div>
      <div class="card-product-info-grid mb-2">
        <div>
          <% if event.photos.attached? %>
            <%= cl_image_tag event.photos.first.key %>
          <% else %>
            <%= image_tag "sexy_lady.jpg" %>
          <% end %>
        </div>
        <div class="d-flex justify-content-between ms-3 me-2">
          <div>
            <p class="justify-content-end date-text"><%= event.start_date.strftime("%Y/%m/%d (%a)") %></p>
            <div class="d-flex align-items-center gap-1">
              <p class="justify-content-end date-text text-custom"><%= event.start_date.strftime("%H:%M") %></p>
              <span class="text-custom">~</span>
              <p class="justify-content-end date-text text-custom"><%= event.end_date.strftime("%H:%M") %></p>
            </div>
            <p class="d-flex text-dark" style="font-size:14px"><%= event.location.address %></p>
          </div>
          <div class="d-flex flex-col align-items-end">
            <div>
              <%= link_to edit_event_path(event), class: "btn btn-primary btn-sm" do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            </div>
            <div>
              <%= link_to duplicate_event_path(event), class: "btn btn-secondary btn-sm" do %>
                <i class="fa-regular fa-copy"></i>
              <% end %>
            </div>
          </div>
        </div>
        <!-- END of Conditional Buttons inside the card -->
        <!-- Link to show page (this links to the specific event) -->
        <% if @events %>
          <%= link_to "", event_path(event), class: "card-link" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
