<div class="card-product">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row justify-content-between p-2">
      <div class="d-flex flex-column">
        <h2><%= event.title %></h2>
        <p class="justify-content-end date-text"><%= event.start_date.strftime("%B %d, %Y") %></p>
      </div>
      <p class="text-custom d-flex justify-content-end"><strong><%= event.location.address %></strong></p>
    </div>
    <div class="card-product-info-grid mb-2">
      <div>
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key %>
        <% else %>
          <%= image_tag "sexy_lady.jpg" %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= event.description %></p>
        <% if event.capacity - event.bookings.count <= 0 %>
          <p class="opacity-50 attendee-number text-end text-danger">EVENT FULL!</p>
        <% else %>
          <p class="opacity-50 attendee-number text-end text-danger">Spots left: <%= event.capacity - event.bookings.count %></p>
        <% end %>
      </div>
    </div>
    <!-- Conditional Buttons inside the card -->
    <!-- Link to show page (this links to the specific event) -->
    <%= link_to "", event_path(event), class: "card-link" %>
  </div>
</div>
