<div class="card-product">
  <div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row justify-content-between p-2">
      <h2><%= event.title %></h2>
      <p class="text-custom"><strong><%= event.location.address %></strong></p>
    </div>
    <div class="card-product-info-grid mb-2">
      <div>
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key %>
        <% else %>
          <%= image_tag "sexy_lady.jpg" %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <div class="d-flex justify-content-between">
          <p><%= event.start_date %></p>
          <p><%= event.description %></p>
          <p class="opacity-25 attendee-number text-end">Attendees: <%= event.bookings.count %></p>
          <% if user_signed_in? %>
            <div class="event-buttons mt-3" style=" display: flex; justify-content: end;">
              <% if current_user == event.user %>
                <!-- Buttons for the event creator (teacher) -->
                <%= link_to edit_event_path(event), class: "btn btn-primary btn-sm" do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
                <%= link_to duplicate_event_path(event), class: "btn btn-secondary btn-sm" do %>
                  <i class="fa-regular fa-copy"></i>
                <% end %>
              <% else %>
                <!-- Button for non-creators (attendees) -->
                <%= link_to new_event_booking_path(event), class: "btn btn-success btn-sm" do %>
                  <i class="fa-solid fa-calendar-plus"></i> Book Event
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          <!-- Button for unauthenticated users -->
          <div class="event-buttons mt-3">
            <%= link_to new_user_session_path, class: "btn btn-warning btn-sm" do %>
              <i class="fa-solid fa-sign-in-alt"></i> Login to Book
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Conditional Buttons inside the card -->
  <!-- Link to show page (this links to the specific event) -->
  <%= link_to "", event_path(event), class: "card-link" %>
</div>
