<nav class="pl-nav pl-top-nav">
  <%= link_to "#" do %>
    <%= inline_svg "pl_logo.svg", class: "pl-logo" %>
  <% end %>
  <% if user_signed_in? %>
    <section class="pl-nav-content">
      <ul>
        <li class="pl-nav-item">
          <%= link_to "/" do %>
            <%= inline_svg "house-solid.svg", class: "pl-icon" %>
            <p>Home</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to "#" do %>
            <%= inline_svg "film-solid.svg", class: "pl-icon" %>
            <p>Posts</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to "#" do %>
            <%= inline_svg "square-plus-regular.svg", class: "pl-icon" %>
            <p>New Post</p>
          <% end %>
        </li>
        <li class="pl-nav-item">
          <%= link_to "#", class: "item-drawer-button" do %>
            <%= inline_svg "magnifying-glass-solid.svg", class: "pl-icon" %>
            <p>Search</p>
          <% end %>
        </li>
        <li class="pl-dropdown-menu">
          <button class="pl-avatar-frame">
            <%= image_tag "profilepic.jpg", class: "pl-avatar" %>
          </button>
          <div class="pl-dropdown-content">
            <%= link_to "Profile", user_path(@user) %>
            <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete} %>
          </div>
        </li>
      </ul>
    </section>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "pl-nav-item pl-btn-login" %>
  <% end %>
</nav>
