<div class="container d-flex justify-content-center bg-white w-100">
  <div data-controller="datepicker" class="col-12">
    <%= simple_form_for @event do |f| %>
      <%= f.input :title, label:false, input_html: { placeholder: "Title..." } %>
      <!-- Manually adding datetime-local input for start_date -->
      <div class="form-group">
        <%= f.input :start_date,
            as: :string,
            input_html: { data: { datepicker_target: "start", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <!-- Manually adding datetime-local input for end_date -->
      <div class="form-group">
        <%= f.input :end_date,
            as: :string,
            input_html: { data: { datepicker_target: "end", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <%= f.input :capacity, label:false, input_html: { placeholder: "Capacity..." } %>
      <%= f.input :price %>
      <select class="form-select mb-3"  name="location_name" data-datepicker-target="locationList">
        <option value="">Choose a location</option>
        <% @locations.each do |name| %>
          <option value="<%= name %>"><%= name %></option>
        <% end %>
      </select>
      <%= f.input :description, label:false, input_html: { placeholder: "Describe your event..." } %>
      <!-- Add picture or video upload -->
      <div class="form-group mb-8">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <%= f.submit "Create Class", class: "btn btn-custom my-3 btn-right" %>
    <% end %>
    <div id="studiolist" data-datepicker-target="list" class="container" style="margin-top: 6rem;">
    </div>
  </div>
</div>
<!-- app/views/studios/studiolist.html.erb -->
