<div class="container d-flex justify-content-center">
  <div data-controller="datepicker" class="col-12">
    <%= simple_form_for @event do |f| %>
      <%= f.input :title %>
      <!-- Manually adding datetime-local input for start_date -->
      <div class="form-group">
        <%= f.input :start_date,
            as: :string,
            input_html: { data: { datepicker_target: "start", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <!-- Manually adding datetime-local input for end_date -->
      <div class="form-group">
        <%= f.input :end_date,
            as: :string,
            input_html: { data: { datepicker_target: "end", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <%= f.input :capacity %>
      <%= f.input :price %>
      <%= f.association :location %>
      <%= f.input :description %>
      <!-- Add picture or video upload -->
      <div class="form-group mb-8">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <%= f.submit "Create Class", class: "btn btn-custom my-3 btn-right" %>
    <% end %>
    <div id="studiolist" data-datepicker-target="list" class="container" style="margin-top: 6rem;">
    </div>
  </div>
</div>
<!-- app/views/studios/studiolist.html.erb -->
