<h1>Studio List</h1>
<% studiolist.each do |studio| %>
  <div class="row">
    <div class="col">
      <p><strong>Studio Name:</strong> <%= studio["m_stu"]["studio_name"] %>-<%= studio["m_bra"]["web_branch_name"] %></p>
    </div>
    <div class="col">
      <p><strong>Size:</strong> <%= studio["m_stu"]["size"] %></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <p><strong>Image Path:</strong> <%= studio["m_stu"]["image_path"] %></p>
    </div>
    <div class="col">
      <p><strong>Price:</strong> <%= studio["m_price0"]["price0"] %></p>
    </div>
  </div>
<% end %>
