<div class="container d-flex justify-content-center mt-6">
  <div data-controller="datepicker">
    <%= simple_form_for @event do |f| %>
      <%= f.input :title %>
      <!-- Manually adding datetime-local input for end_date -->
      <div class="form-group">
        <%= f.input :start_date,
            as: :string,
            input_html: { data: { datepicker_target: "start", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <!-- Manually adding datetime-local input for end_date -->
      <div class="form-group">
        <%= f.input :end_date,
            as: :string,
            input_html: { data: { datepicker_target: "end", action: "change->datepicker#fetchStudios" } } %>
      </div>
      <%= f.input :capacity %>
      <%= f.input :price %>
      <select class="form-select mb-3"  name="location_name" data-datepicker-target="locationList">
        <option value="">Choose a location</option>
        <% @locations.each do |name| %>
          <option value="<%= name %>"><%= name %></option>
        <% end %>
      </select>
      <%= f.input :description %>
      <!-- Add picture or video upload -->
      <div class="form-group mb-8">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <%=
  if params[:duplicate] # On the edit page for a specific event
    f.submit "Save Class", class: "btn btn-custom my-3 btn-right"
  else
    f.submit "Save Changes", class: "btn btn-custom my-3 btn-right"
  end
%>
    <% end %>
    <div id="studiolist" data-datepicker-target="list" class="container" style="margin-top: 6rem;">
    </div>
  </div>
</div>
