<div class="text-end">
  <%= link_to "Create class", new_event_path(@events), class: "btn btn-custom m-2" %>
</div>
<div class="d-flex flex-row-reverse bd-highlight">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-custom m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Video
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Video to Event</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Select a video file then click update button.
          <%= simple_form_for @event do |f| %>
            <%= f.input :video, as: :file %>
            <%= f.submit "Upload Video", class: "btn btn-custom my-3" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container w-100">
  <div class="row">
    <div class="column">
      <%= render "shared/event_card", event: @event %>
      <p class="mb-2 mt-4 d-flex align-items-center fw-bold">Who is joining?</p>
      <div>       <%# Iterating through attending users % %>
        <% @bookings.each do |booking| %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" >
              <%= link_to user_path(booking.user) do %>
                <%= cl_image_tag booking.user.photo.key, class: "avatar-bordered me-2", alt: "avatar-bordered" %>
              <% end %>
              <span><%= booking.user.name %></span>
            </div>
            <span><%= booking.state %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
