<div class="container w-100 my-5 bg-white">
  <div class="d-flex flex-row-reverse bd-highlight">
    <!-- Button trigger modal -->
    <!--
    <button type="button" class="btn btn-custom m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Video
    </button>
    -->
    <!-- Video Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Video to Event</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Select a video file then click update button.
            <%= simple_form_for @event do |f| %>
              <%= f.input :video, as: :file %>
              <%= f.submit "Upload Video", class: "btn btn-custom my-3" %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END of Video Modal -->
  <div class="row">
    <div class="column mt-3">
      <!-- Event Rendering -->
      <%= render "shared/event_card", event: @event %>
      <% if user_signed_in? %>
        <% if current_user == @event.user %>
          <div class="event-buttons mt-3 d-flex justify-content-between">
            <!-- Buttons for the event creator (teacher) -->
            <div>
              <%= link_to "#", class: "btn btn-success btn-sm", id: "copy-url-button" do %>
                <i class="fa-solid fa-download"></i> copy url
              <% end %>
              <script>
                document.getElementById('copy-url-button').addEventListener('click', function() {
                  // Get the current URL
                  const currentUrl = window.location.href;

                  // Create a temporary textarea element to copy the text
                  const textarea = document.createElement('textarea');
                  textarea.value = currentUrl;
                  document.body.appendChild(textarea);

                  // Select and copy the text
                  textarea.select();
                  document.execCommand('copy');

                  // Remove the temporary textarea
                  document.body.removeChild(textarea);

                  // Optional: Provide feedback to the user
                  alert('URL copied to clipboard!');
                });
              </script>
            </div>
            <div>
              <%= link_to edit_event_path(@event), class: "btn btn-primary btn-sm" do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
              <%= link_to duplicate_event_path(@event), class: "btn btn-secondary btn-sm" do %>
                <i class="fa-regular fa-copy"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <!-- Button for unauthenticated users -->
        <div class="event-buttons mt-3">
          <%= link_to new_user_session_path, class: "btn btn-warning btn-sm" do %>
            <i class="fa-solid fa-sign-in-alt"></i> Login to Book
          <% end %>
        </div>
      <% end %>
      <!-- Booking Modal -->
      <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="bookingModalLabel">Book <strong><%= @event.title.capitalize %></strong>?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-between">
              <div class="modal-body">
                <%= simple_form_for [@event, @new_booking] do |f| %>
                  <%= f.submit "Pay Now!", class: "btn btn-custom my-3" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END of Booking Modal -->
      <!-- Waiting List Modal -->
      <div class="modal fade" id="waitinglistModal" tabindex="-1" aria-labelledby="waitinglistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="waitinglistModalLabel">Join the <strong><%= @event.title.capitalize %></strong> Wait List</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-between">
              <div class="modal-body">
                <%= simple_form_for [@event, @new_booking] do |f| %>
                  <%= f.submit "Join Wait List", class: "btn btn-custom my-3" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END of Waiting List Modal -->
      <hr class="mt-4">
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to user_path(@event.user) do %>
            <%= cl_image_tag @event.user.photo.key, class: "avatar-bordered me-2", alt: "avatar-bordered" %>
            <%= @event.user.name %>
          <% end %>
        </div>
        <p style="margin-top: 11px" class="text-custom">Teacher</p>
      </div>
      <hr class="mb-4">
      <%# Iterating through attending users % %>
      <div class="d-flex flex-column w-100">
        <% @bookings.take(3).each do |booking| %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" >
              <%= link_to user_path(booking.user) do %>
                <%= cl_image_tag booking.user.photo.key, class: "avatar-bordered me-2", alt: "avatar-bordered" %>
              <% end %>
              <span><%= booking.user.name %></span>
            </div>
            <!-- Limit booking state view to only event's creator -->
            <% if current_user == @event.user %>
              <span class="<%= booking.state %>"><%= booking.state.capitalize %></span>
            <% end %>
            <!-- End limit -->
          </div>
        <% end %>
        <div class="d-flex justify-content-between">
          <% if @bookings.count >= 4 %>
            <p class="mt-2">...plus <strong><%= @bookings.count - 3 %></strong> more</p>
            <a href="", data-bs-toggle="modal", data-bs-target="#attendeesModal", class="mt-2"><strong>See all</strong></a>
          <% end %>
          <%# END of Iterating through attending users % %>
          <!-- All Attendees Modal -->
          <div class="modal fade" id="attendeesModal" tabindex="-1" aria-labelledby="attendeesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-body">
                  <h1 class="modal-title fs-5 my-3 d-flex justify-content-center" id="attendeesModalLabel">All Attendees</h1>
                  <% @bookings[0...@event.capacity].each do |booking| %>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center" >
                        <%= link_to user_path(booking.user) do %>
                          <%= cl_image_tag booking.user.photo.key, class: "avatar-bordered me-2", alt: "avatar-bordered" %>
                        <% end %>
                        <span><%= booking.user.name %></span>
                      </div>
                      <!-- Limit booking state view to only event's creator -->
                      <% if current_user == @event.user %>
                        <span class="<%= booking.state %>"><%= booking.state.capitalize %></span>
                      <% end %>
                      <!-- End limit -->
                    </div>
                  <% end %>
                  <hr>
                  <% if @bookings.count > @event.capacity %>
                    <h1 class="modal-title fs-5 my-3 d-flex justify-content-center" id="attendeesModalLabel">Wait List</h1>
                    <% @bookings[@event.capacity..].each do |booking| %>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" >
                          <%= link_to user_path(booking.user) do %>
                            <%= cl_image_tag booking.user.photo.key, class: "avatar-bordered me-2", alt: "avatar-bordered" %>
                          <% end %>
                          <span><%= booking.user.name %></span>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <!-- Waiting List // All Attendees Modal -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            <!-- END of All Attendees Modal -->
          </div>
        </div>
      </div>
      <div class="container w-100 mt-5 d-flex justify-content-center">
        <% if @event.video.attached? %>
          <div class="text-center">
            <p>Your video has been saved.</p>
          </div>
        <% else %>
          <div class="text-center">
            <p>No videos yet.</p>
          </div>
        <% end %>
      </div>
      <% if @new_event %>
        <%= render "add_event", event: @new_event %>
      <% end %>
    </div>
  </div>
</div>
</div>
